# Archivos y carpetas de Python / Entornos virtuales
__pycache__/
*.pyc
venv/
env/
.env

# Carpetas de compilación y empaquetado
build/
dist/
backups/
datos/

# Archivos de configuración de empaquetado (PyInstaller)
*.spec

# Archivos de imágenes e iconos
*.ico
*.png
*.jpg
*.jpeg

# Archivos ejecutables / scripts de compilación
*.exe
build.bat